<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.AdminUserMapper">

    <resultMap id="admUserResultMap" type="adminUserDTO">
        <id property="id" column="id"/>
        <result property="userNo" column="user_no" javaType="string"/>
        <result property="userName" column="user_name" javaType="string"/>
        <result property="password" column="pass_word" javaType="string"/>
        <result property="roleId" column="role_id" javaType="long"/>
        <result property="roleNo" column="role_no" javaType="string"/>
        <result property="roleName" column="role_name" javaType="string"/>
        <result property="lastLoginIP" column="last_login_ip" javaType="string"/>
        <result property="lastLoginTime" column="last_login_time" javaType="long"/>
        <result property="lastLogoutTime" column="last_logout_time" javaType="long"/>
        <result property="loginTimes" column="login_times" javaType="int"/>
        <result property="adminList" column="admin_list" javaType="string"/>
        <result property="departmentId" column="dept_id" javaType="long"/>
        <result property="departmentNo" column="dept_no" javaType="string"/>
        <result property="duty" column="duty" javaType="string"/>
        <result property="relation" column="relation" javaType="string"/>
        <result property="createTime" column="create_time" javaType="long"/>
        <result property="updateTime" column="update_time" javaType="long"/>
        <result property="deleted" column="deleted" javaType="int"/>
    </resultMap>

    <sql id="admUser">
        select * from admin_users t
    </sql>

    <sql id="count">
        select count(1) from admin_users t
    </sql>

    <select id="findUser" resultMap="admUserResultMap" parameterType="adminUserDTO">
        <include refid="admUser"/>
        where t.user_name = #{userName} and t.pass_word = password(#{password}) and t.deleted = 0
    </select>
</mapper>