<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.AdmUserGroupMapper">

    <resultMap id="admusergroupResultMap" type="admusergroupDTO">
        <id property="id" column="id"/>
        <result property="groupname" column="groupname" javaType="string"/>
        <result property="des" column="des" javaType="string"/>
        <result property="createtime" column="createtime" javaType="DATE"/>
        <result property="updatetime" column="updatetime" javaType="DATE"/>
        <result property="isdel" column="isdel" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <select id="admusergroupById" resultMap="admusergroupResultMap" parameterType="long">
	    SELECT * FROM t_admusergroup t WHERE t.id = #{id}
    </select>

    <select id="findnewUGroupDTO" resultType="long" parameterType="admusergroupDTO">
        SELECT MAX(id)FROM t_admusergroup t
        <where>
            <if test="groupname !=null and groupname!=''">
                and t.groupname= #{groupname}
            </if>
            <if test="des !=null and des!=''">
                and t.des= #{des}
            </if>
            <if test="isdel !=null and isdel!=''">
                and t.isdel= #{isdel}
            </if>
        </where>
        LIMIT 0, 1000

    </select>


    <select id="countAdmUserGroup" resultType="int" parameterType="map">
		select count(1) from t_admusergroup t where t.isdel = 1
        <if test="groupname !=null and groupname!=''">
            and t.groupname= #{groupname}
        </if>
	</select>

    <select id="findAdmUserGroup" resultMap="admusergroupResultMap" parameterType="map">
        SELECT id,groupname,des,createtime,updatetime,isdel from t_admusergroup t where t.isdel = 1
        <if test="groupname !=null and groupname!=''">
            and t.groupname= #{groupname}
        </if>
        limit #{pager.begin}, #{pager.rows}
    </select>


    <insert id="addUserGroup" parameterType="admusergroupDTO">
        INSERT into t_admusergroup (groupname,des,createtime,updatetime,isdel)
        VALUES (
            #{groupname,jdbcType=VARCHAR},
            #{des,jdbcType=VARCHAR},
            now(),
            now(),
            #{isdel,jdbcType=TINYINT}
        )
    </insert>


    <update id="updateUserGroup" parameterType="admusergroupDTO">
        update t_admusergroup SET
            groupname= #{groupname,jdbcType=VARCHAR},
            des=  #{des,jdbcType=VARCHAR},
            isdel=  #{isdel},
            updatetime =now()
        where id=#{id}
    </update>


    <update id="delUserGroup" parameterType="list">
        update t_admusergroup t set t.isdel = 0 where t.id in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>