<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.GroupRoleRelMapper">
  
    <resultMap id="groupRoleRelResultMap" type="groupRoleRelDTO">
        <id property="id" column="id"/>
        <result property="groupid" column="groupid" javaType="Long"/>
        <result property="roleid" column="roleid" javaType="Long"/>
        <result property="isdel" column="isdel" javaType="int" jdbcType="INTEGER" />
    </resultMap>

    <insert id="addgroupRoleRel" parameterType="list">
        INSERT into t_group_role_rel(groupid,roleid,isdel)
        values
        <foreach collection="list" item="vo" index="index" separator=",">
            (
            #{vo.groupid},
            #{vo.roleid},
            #{vo.isdel}
            )
        </foreach>
    </insert>

    <select id="findroleid" resultType="list" parameterType="long">
        SELECT roleid from t_group_role_rel t where t.groupid = #{id} and t.isdel =1
    </select>

    <update id="delGroupRoleRel" parameterType="long">
        update t_group_role_rel t set t.isdel = 0 where t.groupid = #{id} and t.isdel =1
    </update>

    <update id="delGRoleRelList" parameterType="list">
        update t_group_role_rel t set t.isdel = 0 where t.groupid in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>