<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.TestMapper">

    <resultMap id="testResultMap" type="testDTO">
        <id property="id" column="id"/>
        <result property="name" column="name" javaType="string"/>
        <result property="createtime" column="createtime" javaType="java.util.Date"/>
        <result property="sex" column="sex" javaType="Boolean" jdbcType="CHAR" />
    </resultMap>
    <select id="getTest" resultMap="testResultMap">
        SELECT * from test
    </select>

    <insert id="insertTest" parameterType="testDTO">
        insert into test(name,createtime,sex) values(#{name},now(),#{sex,jdbcType=CHAR,javaType=Boolean})
    </insert>

    <delete id="deleteTestDTO" parameterType="list">
        DELETE FROM test WHERE id IN
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>