<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.UserGroupRelMapper">
    <resultMap id="userGroupRelResultMap" type="userGroupRelDTO">
        <id property="id" column="id"/>
        <result property="userid" column="userid" javaType="Long"/>
        <result property="groupid" column="groupid" javaType="Long"/>
        <result property="isdel" column="isdel" javaType="int" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addUserGroupRels" parameterType="list">
        INSERT into t_user_group_rel(groupid,userid,isdel)
        values
        <foreach collection="list" item="vo" index="index" separator=",">
            (
            #{vo.groupid},
            #{vo.userid},
            #{vo.isdel}
            )
        </foreach>
    </insert>

    <update id="updateUserGroupRel" parameterType="long">
        update t_user_group_rel set isdel = 0 where userid = #{id}
    </update>
</mapper>