<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.itachi.cms.mapper.UserMapper">
    <resultMap id="userResultMap" type="userDTO">
        <id property="id" column="id"/>
        <result property="w3Id" column="w3_id" javaType="string"/>
        <result property="employeeNO" column="employee_number" javaType="string"/>
        <result property="chineseName" column="chinese_name" javaType="string"/>
        <result property="englishName" column="english_name" javaType="string"/>
    </resultMap>

    <sql id="select_list">
        select * from user
    </sql>

    <select id="getUser" resultMap="userResultMap">
        <include refid="select_list"/>
        where id=#{id}
    </select>

    <select id="getUserByW3Id" resultMap="userResultMap">
        <include refid="select_list"/>
        where w3_id=#{w3Id}
    </select>
</mapper>