<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/js/themes/default/easyui.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/js/themes/icon.css}" />
		<link rel="stylesheet" th:href="@{/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" th:href="@{/css/demo.css}" type="text/css" />
		<link rel="stylesheet" th:href="@{/css/zTreeStyle/zTreeStyle.css}" type="text/css" />
		<script type="text/javascript"  th:src="@{/js/jquery/jquery.min.js}"></script>
		<script type="text/javascript"  th:src="@{/js/jquery/jquery.ztree.core.js}"></script>
		<script type="text/javascript"  th:src="@{/js/locale/easyui-lang-zh_CN.js}"></script>
		<script type="text/javascript"  th:src="@{/js/jquery/jquery.easyui.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery/jquery.ztree.excheck.min.js}"></script>
	</head>
</html>

