<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <typeAliases>
        <!--
        <typeAlias alias="user" type="com.x1.dtoser"/>
        <typeAlias alias="comment" type="com.x1.dtoomment"/>
        <typeAlias alias="favorite" type="com.x1.dtoavorite"/>

        -->
        <package name="org.itachi.cms.dto" />
    </typeAliases>
    <typeHandlers>
        <typeHandler javaType="Boolean" jdbcType="CHAR" handler="org.itachi.cms.util.BooleanTypeHandler"/>
    </typeHandlers>
</configuration>