<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="false">

    <context:property-placeholder
            location="classpath:mybatis/mybatis.properties" ignore-unresolvable="true"/>

    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.databaseurl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="sqlSessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- 这个是定义一些session对应的参数的，我们这里先用默认 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!-- 这里定义对应的映射文件对应的目录和名称，我们这里还用默认，就在对应的接口包下 -->
        <!--<property name="mapperLocations" value="classpath*:mybatis/mapper/**/*-mapper.xml" />-->
    </bean>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 定义注解式事务 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 对应扫描接口的包 -->
        <property name="basePackage" value="org.itachi.cms.mapper"/>
        <!-- 记得如果SqlSessionFactoryBean对应的名称不是sqlSessionFactory时给加上 -->
        <!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />-->
    </bean>
</beans>