<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <style type="text/css">
        .fr {
            float: right;
            display: inline;
        }

        .main {
            height: 95px;
        }

        .content {
            width: 100%;
            background-color: #E0ECFF;
        }
    </style>
    <div class="content">
        <div class="fr">
            <h2 style="margin-right:10px" th:text="'欢迎：' + ${#httpSession.getAttribute('CMS_USER').userName} + ' !'"></h2>
            <a th:href="@{/admin/logout}">退出</a>
        </div>
        <div class="main">
            <h1> CMS 管理系统 </h1>
        </div>
    </div>
</body>
</html>